.App {
  text-align: center;
  height: 100vh;
  display: flex;
  background-color: #f0ebf8;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 500px;
  margin: 0 auto;
  align-self: center;
  height: 500px;
  justify-content: center;
  background-color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

input{
  height: 30px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding-left: 15px;
}

button{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #864de0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .25px;
  line-height: 36px;
}

h1{
  text-align: left;
}

table{
  width: 50vw;
  max-width: 600px;
  align-self: center;
  margin-top: 20px;
}

tr{

}

tr{
  height: 4em;
}

.repeat{
  color: #864de0;;
  font-weight: 600;
}